@import url("colors.css");

.login, .password {
    text-align: center;
    padding: 20px;
}

.fa-user:before {
    content: "\f007";
}

.fa-lock:before {
    content: "\f023";
}

.forgot-password-link{
    color: var(--secondary-font-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.forgot-password-link:hover{
    color: var(--primary-color);
}

.forgot-password{
    text-align: right;
}

.create-account{
    margin-top:2%;
    text-align: center;
}

.create-account-link{
    color: var(--secondary-font-color);
    text-decoration: none;
    padding:1%;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.create-account-link:hover{
    color: var(--tertiary-font-color);
    background-color: var(--primary-color);
}