.login, .password {
    text-align: center;
    padding: 20px;
}

.fa-user:before {
    content: "\f007";
}

.fa-lock:before {
    content: "\f023";
}

.forgot-password-link{
    color: grey;
    text-decoration: none;
}

.forgot-password{
    text-align: right;
}

.create-account{
    padding-top: 2%;
    text-align: center;
}

.create-account-link{
    color: grey;
    text-decoration: none;
}