<html>
  <head>
    <title>Retour du matériel validé !</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" hs-webfonts="true" href="https://fonts.googleapis.com/css?family=Lato|Lato:i,b,bi">
    <style type="text/css">
      a{ 
        text-decoration: underline;
        color: inherit;
        font-weight: bold;
        color: #253342;
      }
      
      h1 {
        font-size: 56px;
      }
      
      h2{
        font-size: 28px;
        font-weight: 900; 
      }
      
      p {
        font-weight: 100;
      }
      
      td {
        vertical-align: top;
      }
      
      #email {
        margin: auto;
        width: 600px;
        background-color: white;
      }
      
      button{
        font: inherit;
        background-color: #26d213;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 900; 
        color: white;
        border-radius: 5px; 
        box-shadow: 3px 3px #148c16;
      }
      
      .subtle-link {
        font-size: 9px; 
        text-transform:uppercase; 
        letter-spacing: 1px;
        color: #CBD6E2;
      }    
    </style>    
  </head>
      
  <body bgcolor="#F5F8FA" style="width: 100%; margin: auto 0; padding:0; font-family:Lato, sans-serif; font-size:18px; color:#33475B; word-break:break-word">      
    <div id="email">
      <table role="presentation" width="100%">
        <tr>
          <td bgcolor="#00A4BD" align="center" style="color: white; padding-top: 10%;">
            <h1>Retour du matériel validé !</h1>  
          </td>
        </tr>
      </table>
    
      <table role="presentation" border="0" cellpadding="0" cellspacing="10px" style="padding: 30px 30px 30px 60px;">
        <tr>
          <td>
            <h2>Le retour du matériel ci-dessous a bien été validé par un administrateur.</h2>
            <ul>
              <li>Identifiant ISEP : <strong>{{tool.idISEP}}</strong></li>
              <li>Marque: <strong>{{tool.brand}}</strong></li>
              <li>Modèle : <strong>{{tool.model}}</strong></li>
              <li>Description : <strong>{{tool.desc}}</strong></li>
            </ul>
            <p>
              Afin de voir la liste du matériel disponible connectez-vous sur <strong>GEM LABO PHYSIQUE</strong>.
            </p>
            <a href="http://localhost:8888/private/tools">
                <button> 
                  Voir le matériel disponible
                </button>
            </a>
          </td> 
        </tr>
      </table>
    </div>
  </body>
</html>