@import url("colors.css");

@for $i from 0 through 100 {
    .percentage-#{$i}:after {
        $value: ($i * 1%);
        width: $value;
    }
}

.percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    height: 40px;
    margin-left: 10%;
    background: repeating-linear-gradient(
        to right,
        var(--tertiary-gray),
        var(--tertiary-gray) 1px,
        var(--secondary-gray) 1px,
        var(--secondary-gray) 5%
    );
      &:after {
        content: "";
        display: block;
        background-color: var(--primary-color);
        margin-bottom: 10px;
        height: 90%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .3s ease;
        cursor: pointer;
    }
    &:hover,
    &:focus {
        &:after {
        background-color: var(--secondary-color); 
        }
    }
}

.text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 40px;
    width: 10%;
    background-color: var(--tertiary-gray);
    position: absolute;
    left: 0;
    justify-content: flex-end;
}

dl {
    display: flex;
    background-color: var(--tertiary-gray);
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
}

dt {
    align-self: flex-start;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
}